<div class="modal-header border-bottom-0">
  <div class="flex-row--start">
    <i class="bx bx-edit md-24 l-height-17"></i>
    <h5>{{modalTitle}}</h5>
  </div>
  
  <button type="button" class="btn-close" aria-label="Close" 
    (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <div class="text-center mb-4">
    <form>
      <div class="row justify-content-center">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="course" placeholder="">
              <label for="floatingInput">Nombre de la Subcategoría</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-floating mb-3">
              <select class="form-select" id="state" aria-label="Floating label select example">
                <option selected>Seleccione</option>
                <option value="1">Categoría 1</option>
                <option value="2">Categoría 2</option>
                <option value="2">Categoría 3</option>
                <option value="2">Categoría 4</option>
                <option value="2">Categoría 5</option>

              </select>
              <label for="floatingSelect">Categoría asociada</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="h-week" placeholder="">
              <label for="floatingInput">Horas semana</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="h-semestre" placeholder="">
              <label for="floatingInput">Horas semestre</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="score" placeholder="">
              <label for="floatingInput">Puntuación</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-floating">
              <select class="form-select" id="state" aria-label="Floating label select example">
                <option selected>Seleccione</option>
                <option value="1">Activa</option>
                <option value="2">Inactiva</option>
              </select>
              <label for="floatingSelect">Estado</label>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row--end p-10">
        <button (click)="createCategory()" type="button" class="btn btn-secondary">Crear categoría</button>
      </div>       
    </form>
  </div>
</div>


